<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-3" *ngIf="!locationDisabled; else disabledMsg">
      <div *ngIf="userCoordinates && (stations$ | async); else progressBar">
        <div class="home-table">
          <p-table
            [value]="stations$ | async"
            [loading]="!(stations$ | async)"
            [scrollable]="true"
            scrollHeight="300px"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Distance</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-station>
              <tr>
                <td>{{ station.name }}</td>
                <td>
                  {{ station.company | companyName }}
                  <span
                    pTooltip="List of all Stations"
                    class="all-stations"
                    (click)="showCompanyAllStationsList(station.company)"
                    ><i class="pi pi-list"></i
                  ></span>
                </td>
                <td>
                  {{ station.distance / 1000 | number: '1.1-1' }} kilometers
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="home-map mt-5">
          <agm-map
            [latitude]="userCoordinates.latitude"
            [longitude]="userCoordinates.longitude"
            [zoom]="mapZoom"
            [disableDefaultUI]="false"
          >
            <agm-marker
              [latitude]="userCoordinates.latitude"
              [longitude]="userCoordinates.longitude"
              label="My Location"
            ></agm-marker>
            <agm-marker
              *ngFor="let m of stations$ | async; let i = index"
              [latitude]="m.coordinates[1]"
              [longitude]="m.coordinates[0]"
              [label]="m.name"
            >
              <agm-info-window>
                <div>
                  Station: <strong>{{ m.name }}</strong>
                </div>
                <div>
                  Company: <strong>{{ m.company | companyName }}</strong>
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #progressBar>
  Waiting User Coordinates from Browser
  <p-progressBar mode="indeterminate"></p-progressBar>
</ng-template>
<ng-template #disabledMsg>
  <div class="col-12">User Blocked Current Position</div>
</ng-template>

<p-dialog
  header="Stations List By Company Hierarchy"
  [(visible)]="showDialog"
  (onHide)="hide()"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <app-stations
    *ngIf="showDialog"
    [company]="company"
    [userCoordinates]="userCoordinates"
  ></app-stations>
</p-dialog>
