<p-dialog
  header="{{ record ? 'Edit Station' : 'Add Station' }}"
  [(visible)]="showDialog"
  (onHide)="cancel()"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <form (ngSubmit)="onSubmit(updateForm)" #updateForm="ngForm">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            id="inputName"
            aria-describedby="nameHelp"
            placeholder="Enter name"
            required
            [(ngModel)]="record.name"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="inputCompany">Company</label>
          <p-autoComplete
            [(ngModel)]="record.company"
            [suggestions]="results"
            (completeMethod)="search($event)"
            inputStyleClass="form-control"
            name="company"
            field="name"
          ></p-autoComplete>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="inputLatitude">Latitude</label>
          <input
            type="number"
            id="latitude"
            name="latitude"
            class="form-control"
            id="inputLatitude"
            aria-describedby="latitudeHelp"
            placeholder="Enter Latitude"
            required
            [(ngModel)]="latitude"
          />
          <small id="latitudeHelp" class="form-text text-muted"
            >Please enter latitude</small
          >
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="inputLongitude">Longitude</label>
          <input
            type="number"
            id="longitude"
            name="longitude"
            class="form-control"
            id="inputLongitude"
            aria-describedby="longitudeHelp"
            placeholder="Enter Longitude"
            required
            [(ngModel)]="longitude"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="!locationDisabled && userCoordinates">
          <agm-map
            [latitude]="userCoordinates.latitude"
            [longitude]="userCoordinates.longitude"
            [zoom]="12"
            [disableDefaultUI]="false"
            (mapClick)="mapClicked($event)"
          >
            <agm-marker
              *ngFor="let m of points; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
            >
              <agm-info-window>
                <div>
                  <strong>{{ m.label }}</strong>
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>

    <button pButton pRipple type="submit" label="Save" class="mt-2"></button>
  </form>
</p-dialog>
