<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<app-add-edit-station
  [showDialog]="showDialog"
  [record]="stationToBeUpdated"
  (onSave)="saveData($event)"
  (onCancel)="hideDialog()"
></app-add-edit-station>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-3">
      <p-table [value]="stations$ | async" [loading]="loading$ | async">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th style="width: 10rem" *ngIf="company === null">
              <p-button
                icon="pi pi-plus"
                (click)="openAddStationDialog()"
              ></p-button>
            </th>
            <th *ngIf="userCoordinates">Distance</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-station>
          <tr>
            <td>{{ station.name }}</td>
            <td>{{ station.company | companyName }}</td>
            <td *ngIf="company === null">
              <p-button
                icon="pi pi-pencil"
                styleClass="p-button-warning"
                [style]="{ 'margin-right': '.5em' }"
                (click)="openEditStationDialog(station)"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-danger"
                (click)="deleteStation(station)"
              ></p-button>
            </td>
            <td *ngIf="userCoordinates">
              {{ getCoordinates(station) | number: '1.1-1' }} kilometers
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div
        class="no-records"
        *ngIf="!(loading$ | async) && (stations$ | async).length === 0"
      >
        No stations to display here
      </div>
    </div>
  </div>
</div>
