<p-dialog
  header="{{ record ? 'Edit Company' : 'Add Company' }}"
  [(visible)]="showDialog"
  (onHide)="cancel()"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <form (ngSubmit)="onSubmit(updateForm)" #updateForm="ngForm">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        id="inputName"
        aria-describedby="nameHelp"
        placeholder="Enter name"
        required
        [(ngModel)]="record.name"
      />
      <small id="nameHelp" class="form-text text-muted"
        >Please enter company name</small
      >
    </div>
    <button pButton pRipple type="submit" label="Save"></button>
  </form>
</p-dialog>
