<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<app-add-edit-company
  [showDialog]="showDialog"
  [record]="companyToEdit"
  [parentId]="selectedParentId"
  (onSave)="saveData($event)"
  (onCancel)="hideDialog()"
></app-add-edit-company>
<app-stations-list
  [showDialog]="showStationDialog"
  [record]="companyToEdit"
  (onHide)="hideStationsDialog()"
></app-stations-list>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 pt-3">
      <p-treeTable
        [value]="rows"
        [columns]="cols"
        [paginator]="false"
        [loading]="loading"
        (onNodeExpand)="onNodeExpand($event)"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
            <th style="width: 14rem">
              <p-button
                icon="pi pi-plus"
                (click)="openAddCompanyDialog()"
              ></p-button>
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowNode
          let-rowData="rowData"
          let-columns="columns"
        >
          <tr>
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="i == 0"
              ></p-treeTableToggler>
              {{ rowData[col.field] }}
            </td>
            <td>
              <p-button
                icon="pi pi-plus"
                [style]="{ 'margin-right': '.5em' }"
                (click)="openAddCompanyDialog(rowData._id, rowNode)"
              ></p-button>
              <p-button
                icon="pi pi-list"
                [style]="{ 'margin-right': '.5em' }"
                (click)="openStationsListDialog(rowData, rowNode)"
              ></p-button>
              <p-button
                icon="pi pi-pencil"
                styleClass="p-button-warning"
                [style]="{ 'margin-right': '.5em' }"
                (click)="openEditCompanyDialog(rowData, rowNode)"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-danger"
                (click)="deleteCompany(rowData, rowNode)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>
